
body{
    background-color: rgb(217, 214, 214);  
}
/*Navbar*/
.container-fluid{
  background-color: rgb(217, 214, 214);
}

#img_logo{
  width: 100px;
  height: 100px;
  margin-left: 13%;
  }
  
  .links{
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease; 
}

.links1{
    width: 60px;
    height: 61px;
    transition: transform 0.3s ease; 
}

.links:hover{
transform: scale(1.1); 
cursor: pointer; 
}

.links1:hover{
transform: scale(1.1); 
cursor: pointer; 
}
  .logos{
      margin-right: 13%;
      border-left: solid 2px green;
  }
  
  .nav-item{
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: medium;
      margin-right: 20px;
      transition: color 0.3s, font-size 0.3s;
  }
  
  .nav-item:hover{
      border-bottom: 2px solid green;
      font-size: large;
  }
  
  .nav-link:hover{
      color:#37612e;
  }
  
  /*Fin Navbar*/

/*Header*/

header{
 padding-top: 3%;
 text-align: center;
 color: white;
 background-color: rgba(0, 0, 0, 0.6);
 padding: 2%;
}

.cabeza{
    margin-top: 5%;
    border: solid 2px #6c9483;
    padding: 2%;
   
} 


.info p{
    font-weight: bold;
    padding-top: 4%;
    text-align: justify;
}
.info img{
 width: 250px;
 height: 100%;
 margin-left: 5%;
}


/*Fin Header*/


/* Main */

.main{
    display: flex;
}

/* Article */
article{
 font-family: Arial;
 width: 70%;
 border-left: #acdc64 2px solid;
 padding: 2%;
 color: white;
}

article h2{
    color: black;
    text-align: center;
}
   

#estudio{
    width: 70%;
    background-color:  #6c9483;
   
    padding: 5px;
    margin-left: 15%;   
}

#tabla{
    width: 70%;
    background-color: #6c9483;
  
    padding: 5px;
    margin-left: 15%;   
}
.fakeimg{
 width: 70%;
 background-color:  #6c9483;
 display: inline-flex;
 padding: 5px;
 margin-left: 15%;

}

/* Aside News */
.side {
font-family: Arial;
padding: 2%;
width: 500px;
}     
 
.side p{
font-family: Arial;
text-decoration: solid;
font-size: larger;
}  

.toursnews{
background-color: #6c9483;
width: 100%;
height: 60px;
  /* Mejoras */
display: flex;
align-items: center;
}

.toursnews a{ 
text-decoration: none;
color: white;
font-weight: bold;
}

.toursnews p{
margin-top: 2%;
margin-left: 2%; 
}

.toursnews img{
border-radius: 30px;   
}

.toursnews:hover{
background-color: #37612e;
}

.toursnews a:hover{
color: #BBACAF;
}


table {
    width: 100%;
    border-collapse: collapse;
    color: black;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  


/*Footer */

.container h5{
  border-bottom:white solid 2px ;
}

.caja{
  border: white solid 2px;
  padding: 3%;
}

.caja a{
  text-decoration: none;
  color: white;
  margin-top: 50%;
  transition: color 0.3s, font-size 0.3s;
}

.caja a:hover{
 color: #37612e;
 font-size: larger;
}

/* Estilos para el contenedor del mapa */
.map-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* Aspect ratio 16:9 */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Fin Footer */

@media (max-width: 700px) {
    main {
      flex-direction: column;
    }

    /* Mejoras */
    .side{
        width: 100%;
    }

    .article{
        width: 100%;
    }
  
}

